body {
  font-family: 'Lato', sans-serif; /* Use Lato font */
  text-align: center;
  background-color: #FFF9E1; /* Soft pastel background */
  color: #333;
  padding: 20px;
}
h1 {
  font-size: 5rem;
  /* color: #ffc36a; /* Soft pastel pink */
  color: #ffc36a; /* Darkish pastel yellow */
  margin-bottom: 2rem; /* Ensures space between h1 and countdown */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-weight: 700; /* Makes the text bolder */
  letter-spacing: 1px; /* Slightly increases spacing between characters */
}  

#countdown {
  font-size: 2rem;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff; /* Keep the countdown background white for clarity */
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#countdown div {
  padding: 10px;
}
#countdown div span {
  display: block;
  padding: 5px;
  font-size: 2.5rem;
  color: #ffc36a; /* Pastel blue for the numbers */
}